.country-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.flag-container{
    text-align: left;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
}

.flag-container img{
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}