.parent {
    /* padding: 25px; */
    background-color: blanchedalmond;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 350px;
    align-items: center;
    flex-direction: column;
    
}
.child{
    border: 2px solid rgb(15, 158, 168);
    background-color: rgb(178, 228, 229);
    padding: 29px;
    font-size: 28px;
    margin: 18px 0;
    /* margin-right: 5px; */
}